 @font-face {
     font-family: Avenir Regular;
     src: url("font/AvenirLTStd-Book.otf") format("opentype");
 }
 
 @font-face {
     font-family: Avenir Bold;
     src: url("font/AvenirLTStd-Black.otf") format("opentype");
 }
 
 body {
     margin: 0;
     padding: 0;
     font-family: 'Avenir Regular';
     font-size: 14;
 }
 /* Style pour le conteneur */
 
 .titleForInfo {
     text-align: center;
 }
 /* Style pour le titre principal (Région) */
 
 h1 {
     font-size: clamp(14px, 1vw, 24px);
     font-weight: bold;
     margin-bottom: 10px;
     /* Espace entre le titre principal et le sous-titre */
     font-family: 'Avenir Bold';
 }
 /* Style pour le sous-titre (Liste des projets) */
 
 h2 {
     font-size: 18px;
     font-weight: normal;
     font-family: 'Avenir Bold';
 }
 
 h3 {
     font-family: 'Avenir Bold';
 }
 
 b {
     font-family: 'Avenir Bold';
 }
 
 html,
 body,
 #map {
     height: 100%;
 }
 /* Style du panneau latéral */
 
 #infoPanel {
     z-index: 10000;
     position: absolute;
     top: 10px;
     right: 60px;
     background-color: #fff;
     padding: 10px;
     border-radius: 3px;
     display: block;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
     height: 90%;
     width: 25%;
     overflow-y: auto;
     padding-bottom: 20px;
     font-size: clamp(12px, 1vw, 14px);
 }
 
 select {
     max-width: 100%;
     width: 100%;
     height: 25px;
     background-color: #f5f3f3;
     color: #080707;
     border: none;
     border-radius: 0;
     padding: 0 10px;
     font-family: 'Avenir Regular';
 }
 
 label {
     font-family: 'Avenir Regular';
     margin-bottom: 10px;
     font-size: clamp(12px, 1vw, 14px);
 }
 
 #interactionPanel {
     z-index: 10000;
     position: absolute;
     top: 10px;
     left: 10px;
     background-color: #fff;
     padding: 10px;
     border-radius: 3px;
     display: block;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
     height: auto;
     overflow-y: auto;
     padding-bottom: 20px;
     max-width: 15%;
 }
 
 #infoPanel h2 {
     margin-bottom: 10px;
 }
 /*  #propertyList {}
       Classe pour afficher le panneau */
 
 .property {
     background-color: #f5f5f5;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }
 
 .visible {
     right: 0;
 }
 /* Classe pour masquer le panneau */
 
 .hidden {
     right: -300px;
 }
 /* Bouton en haut Ã  droite */
 
 .toggle-btn {
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: white;
     color: black;
     padding: 10px;
     border: none;
     border-radius: 3px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
     cursor: pointer;
     z-index: 10000;
 }
 
 .toggle-btn:hover {
     background-color: black;
     color: white;
 }
 
 #toggle-button i {
     transition: transform 0.2s;
 }
 
 #toggle-button.active i {
     transform: rotate(-180deg);
 }
 
 #toggle-button.active+#dropdown-panel {
     display: block;
 }
 
 .toggle-btn i {
     font-size: 20px;
 }
 
 hr {
     margin: 10px;
 }
 /* Style de base pour le bouton Material Design */
 
 #reset {
     display: inline-block;
     padding: 10px 20px;
     font-size: 16px;
     font-weight: 500;
     text-align: center;
     text-decoration: none;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     color: black;
     /* Couleur du texte */
 }
 /* Style pour le bouton gris */
 
 button {
     background-color: #f5f3f3;
     /* Couleur de fond grise */
 }
 /* Style pour le survol du bouton */
 
 button:hover {
     background-color: #757575;
     color: white
     /* Couleur de fond grise plus foncée au survol */
 }